<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false" xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <appender name="AllToFile" type="log4net.Appender.RollingFileAppender">
    <file value=".\\Logs\\Log.txt" />
    <appendToFile value="true" />
    <!-- Note MinimalLock should not be used in production -->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="AllToConsole" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="AllToFile" />
    <appender-ref ref="AllToConsole" />
  </root>

  <logger name="NHibernate">
    <level value="WARN" />
  </logger>

</log4net>