<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net45" />
  <package id="log4net" version="2.0.2" targetFramework="net45" />
  <package id="Quartz" version="2.2.1" targetFramework="net45" />
  <package id="Rx_Experimental-Main" version="1.1.11111" targetFramework="net45" />
  <package id="Rx_Experimental-Xaml" version="1.1.11111" targetFramework="net45" />
  <package id="ServiceProcess.Helpers" version="0.9.1.9" targetFramework="net45" />
</packages>