<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="BridgeConfiguration" type="TradePlatform.MT4.Core.Config.BridgeConfiguration, TradePlatform.MT4.Core" />
    <section name="DbConfiguration" type="TradePlatform.MT4.Db.Config.DbConfiguration, TradePlatform.MT4.Db" />
    <section name="ExpertConfiguration" type="TradePlatform.MT4.SDK.Library.Config.ExpertConfiguration, TradePlatform.MT4.SDK.Library" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net configSource="log4net.config" />
  <runtime>
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.11111.0" newVersion="1.1.11111.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Windows.Threading" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.30214.0" newVersion="2.1.30214.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.7.0" newVersion="6.9.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="NotifyToEmail" value="[YOUR_EMAIL]" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <BridgeConfiguration useEventLog="true" wcfBaseAddress="http://localhost:8080/TradePlatform">
    <Hosts>
      <Host name="host1" ipAddress="127.0.0.1" port="2007">
        <Handlers>
          <!-- Experts -->
          <Handler name="LineBalanceAdvisorUSDJPY" typeName="TradePlatform.MT4.SDK.Library.Experts.LineBalanceAdvisor.LineBalanceAdvisorUSDJPY" assemblyName="TradePlatform.MT4.SDK.Library" />
          <Handler name="TickCounter" typeName="TradePlatform.MT4.SDK.Library.Common.TickCounter" assemblyName="TradePlatform.MT4.SDK.Library" />
          <Handler name="QuoteListener" typeName="TradePlatform.MT4.Core.QuoteListener" assemblyName="TradePlatform.MT4.Core" />
        </Handlers>
      </Host>
      <Host name="host2" ipAddress="127.0.0.1" port="2008">
        <Handlers>
          <Handler name="TickCounter" typeName="TradePlatform.MT4.SDK.Library.Common.TickCounter" assemblyName="TradePlatform.MT4.SDK.Library" />
          <Handler name="QuoteListener" typeName="TradePlatform.MT4.Core.QuoteListener" assemblyName="TradePlatform.MT4.Core" />
          <Handler name="LineBalanceAdvisorEURUSD" typeName="TradePlatform.MT4.SDK.Library.Experts.LineBalanceAdvisor.LineBalanceAdvisorEURUSD" assemblyName="TradePlatform.MT4.SDK.Library" />
        </Handlers>
      </Host>
      <Host name="host3" ipAddress="127.0.0.1" port="2009">
        <Handlers>
          <Handler name="TickCounter" typeName="TradePlatform.MT4.SDK.Library.Common.TickCounter" assemblyName="TradePlatform.MT4.SDK.Library" />
          <Handler name="QuoteListener" typeName="TradePlatform.MT4.Core.QuoteListener" assemblyName="TradePlatform.MT4.Core" />
          <Handler name="LineBalanceAdvisorUSDCHF" typeName="TradePlatform.MT4.SDK.Library.Experts.LineBalanceAdvisor.LineBalanceAdvisorUSDCHF" assemblyName="TradePlatform.MT4.SDK.Library" />
        </Handlers>
      </Host>
      <Host name="host4" ipAddress="127.0.0.1" port="2010">
        <Handlers>
          <Handler name="TickCounter" typeName="TradePlatform.MT4.SDK.Library.Common.TickCounter" assemblyName="TradePlatform.MT4.SDK.Library" />
          <Handler name="QuoteListener" typeName="TradePlatform.MT4.Core.QuoteListener" assemblyName="TradePlatform.MT4.Core" />
          <Handler name="LineBalanceAdvisorUSDCAD" typeName="TradePlatform.MT4.SDK.Library.Experts.LineBalanceAdvisor.LineBalanceAdvisorUSDCAD" assemblyName="TradePlatform.MT4.SDK.Library" />
        </Handlers>
      </Host>
      <Host name="host5" ipAddress="127.0.0.1" port="2011">
        <Handlers>
          <Handler name="TickCounter" typeName="TradePlatform.MT4.SDK.Library.Common.TickCounter" assemblyName="TradePlatform.MT4.SDK.Library" />
          <Handler name="QuoteListener" typeName="TradePlatform.MT4.Core.QuoteListener" assemblyName="TradePlatform.MT4.Core" />
          <Handler name="LineBalanceAdvisorAUDUSD" typeName="TradePlatform.MT4.SDK.Library.Experts.LineBalanceAdvisor.LineBalanceAdvisorAUDUSD" assemblyName="TradePlatform.MT4.SDK.Library" />
        </Handlers>
      </Host>
      <Host name="host6" ipAddress="127.0.0.1" port="2012">
        <Handlers>
          <Handler name="TickCounter" typeName="TradePlatform.MT4.SDK.Library.Common.TickCounter" assemblyName="TradePlatform.MT4.SDK.Library" />
          <Handler name="QuoteListener" typeName="TradePlatform.MT4.Core.QuoteListener" assemblyName="TradePlatform.MT4.Core" />
          <Handler name="LineBalanceAdvisorGBPUSD" typeName="TradePlatform.MT4.SDK.Library.Experts.LineBalanceAdvisor.LineBalanceAdvisorGBPUSD" assemblyName="TradePlatform.MT4.SDK.Library" />
        </Handlers>
      </Host>
    </Hosts>
  </BridgeConfiguration>
  <DbConfiguration>
    <ConnectionString server="localhost" database="ExpertAdvisors" username="root" pwd="" />
  </DbConfiguration>
  <ExpertConfiguration>
    <Experts>
      <Expert name="LineBalanceAdvisor" stopLoss="300" takeProfit="700" orderAmount="0.01" timeFrame="240" modifyStopLoss="0" modifyTakeProfit="0" />
      <Expert name="SimpleMaExpert" stopLoss="200" takeProfit="700" orderAmount="0.01" timeFrame="30" modifyStopLoss="0" modifyTakeProfit="0" />
      <Expert name="SimpleMaScalperExpert" stopLoss="100" takeProfit="300" orderAmount="0.01" timeFrame="5" modifyStopLoss="0" modifyTakeProfit="0" />
    </Experts>
  </ExpertConfiguration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="[FROM_ADDRESS]">
        <network host="smtp.gmail.com" userName="[GMAIL_LOGIN]" password="[GMAIL_PASS]" port="587" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="TradePlatformEntities" connectionString="metadata=res://*/TradePlatformModel.csdl|res://*/TradePlatformModel.ssdl|res://*/TradePlatformModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=[PATH_TO_MDF_FILE];integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <remove name="Default" />
        <add name="consoleListener" type="TradePlatform.MT4.Core.Utils.ConsoleBridgeTraceListener, TradePlatform.MT4.Core" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <services>
      <service name="TradePlatform.MT4.Data.TradePlatformDataService">
        <endpoint address="http://localhost:9000/TradePlatform/svc" binding="webHttpBinding" contract="System.Data.Services.IRequestHandler" />
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>