<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="FluentNHibernate" version="2.0.1.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.7" targetFramework="net45" />
  <package id="MySQL.Data.Entities" version="6.8.3.0" targetFramework="net45" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net45" />
  <package id="reactiveui-core" version="5.5.1" targetFramework="net45" />
  <package id="reactiveui-platforms" version="5.5.1" targetFramework="net45" />
  <package id="reactiveui-xaml" version="5.5.1" targetFramework="net45" />
  <package id="Rx-Core" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Linq" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Main" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Xaml" version="2.1.30214.0" targetFramework="net45" />
  <package id="ServiceProcess.Helpers" version="0.9.1.9" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net45" />
</packages>